<html>
  </head>

  </head>

  <body>
    <h2>Welcome to the Cook County Jail inmate tracker</h2>
    <p>This project aims to provide open data about the inmates in the Cook County Jail. The project is ran by the dedicated contributors of the <a href="https://github.com/sc3/sc3">Supreme Chi-Town Coding Crew</a>. You can join us every Saturday at <a href="http://freegeekchicago.org/">FreeGeek Chicago</a>. All the data is available through the <a href="/api">API</a> and, the source code is hosted on <a href="https://github.com/sc3/cookcountyjail">GitHub</a></p>

    <p>The <a href="http://26thandcalifornia.recoveredfactory.net/">26thandCalifornia</a> project is a great example of what can be done with these data. The source code for that project is also available on <a href="https://github.com/sc3/26thandcalifornia">GitHub</a>.</p>
  </body>
<html>
