<!DOCTYPE html>
<html>
<head>
    <title>Cook County Jail</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/lib/underscore-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/lib/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/lib/backbone-0.9.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/county.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<section id="content">
    <div id="rows"></div>
</section>

<script type="text/template" id="rows-summary">
    <p>There are <%= rows %> rows in the database.</p> 
</script>

<script type="text/javascript">
$(document).ready(function() {
    var row_summary = new RowSummaryModel();

    // Get data, create view
    row_summary.fetch({
        success: function() {
            new RowSummaryView({model: row_summary});
        }
    });    
});    
</script>

</body>
</html>
