{% extends 'base.html' %}

{% block content %}

Currently we are on version <a href="/api/1.0?format=json">1.0 of the API</a>, but we are working on a <a href="https://github.com/sc3/cookcountyjail/wiki/API-2.0-Guide">version 2.0</a>. Have a look at the schemes and do not forget to append a format paramater to the urls, such as json. To create complex queries read about <a href="https://docs.djangoproject.com/en/dev/ref/models/querysets/">Django queries</a> and <a href="http://django-tastypie.readthedocs.org/en/latest/">Tastypie</a>. Also a have a look at the <a href="https://github.com/sc3/cookcountyjail/wiki/API-guide">Api Guide</a> for a reference on how it all translates to this project in specific. The API is changing at a fast pace and the examples might be behind the current version.

{% endblock %}


